* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: skyblue;
  --secondary-color: steelblue;
}
body {
  background: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

header::before {
  content:'';
  background: url("./pexels-pixabay-220201.jpg") no-repeat center center/cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
